body {
  background: #333;
}

.Perth {
  height: 90vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/perth.jpg');
  background-size: cover;
}

.Sydney {
  height: 90vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/sydney.jpg');
  background-size: cover;
}

.Melbourne {
  height: 90vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/melbourne.jpg');
  background-size: cover;
}

.Brisbane {
  height: 90vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/brisbane.jpg');
  background-size: cover;
}

.Adelaide {
  height: 90vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/adelaide2.jpg');
  background-size: cover;
}

.temp, .city {
  font-size: 2rem;
}

span {
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px
}